In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test_groupby') \
    .config("spark.ui.port", "4042") \
    .getOrCreate()

In [61]:
df_green = spark.read.csv('data/raw/green/*/*', header=True, inferSchema=True)
df_yellow = spark.read.csv('data/raw/yellow/*/*', header=True, inferSchema=True)

In [3]:
df_green.createOrReplaceTempView("green")

In [6]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2  
""")

In [7]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 00:00:00|  65|            199.49|            10|
|2020-01-01 02:00:00|  17|            200.03|            11|
|2020-01-01 10:00:00|  70|              30.8|             1|
|2020-01-01 11:00:00| 181|             49.64|             5|
|2020-01-02 03:00:00|   7|               9.8|             1|
|2020-01-02 06:00:00|   7|              53.1|             2|
|2020-01-02 06:00:00| 169|            104.09|             3|
|2020-01-02 07:00:00|  42|327.32000000000005|            21|
|2020-01-02 08:00:00| 174|50.309999999999995|             3|
|2020-01-02 10:00:00|  66|             97.67|             5|
|2020-01-02 12:00:00|  26|            280.47|            13|
|2020-01-02 13:00:00|  89|            121.85|             6|
|2020-01-02 14:00:00|  74|1029.3399999999995|            68|
|2020-01-02 16:00:00| 236|             16.01|             1|
|2020-01-02 16:00:00|  66|257.00000000000006|            12|
|2020-01-02 20:00:00|  81|              10.3|             1|
|2020-01-03 09:00:00| 223|            131.51|            12|
|2020-01-03 09:00:00| 222|            359.22|            11|
|2020-01-03 13:00:00|  74| 726.8199999999997|            54|
|2020-01-03 15:00:00|  67|417.66999999999996|             9|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [8]:
df_green_revenue = df_green.filter("lpep_pickup_datetime >= '2020-01-01 00:00:00'") \
    .withColumn("hour", F.date_trunc("hour", "lpep_pickup_datetime")) \
    .groupBy("hour", "PULocationID") \
    .agg({"total_amount": "sum", "*": "count"}) \
    .withColumnRenamed("sum(total_amount)", "amount") \
    .withColumnRenamed("count(1)", "number_records") \
    .orderBy("hour","PULocationID")

In [75]:
df_green_revenue.write.parquet('data/report/revenue/green', mode="overwrite")

In [66]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [71]:
df_yellow_revenue = df_yellow.filter("tpep_pickup_datetime >= '2020-01-01 00:00:00'") \
    .withColumn("hour", F.date_trunc("hour", "tpep_pickup_datetime")) \
    .groupBy("hour", "PULocationID") \
    .agg({"total_amount": "sum", "*": "count"}) \
    .withColumnRenamed("sum(total_amount)", "amount") \
    .withColumnRenamed("count(1)", "number_records") \
    .orderBy("hour","PULocationID")

In [73]:
df_yellow_revenue.write.parquet('data/report/revenue/yellow', mode="overwrite")

In [77]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [80]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'PULocationID'], how='outer')

In [82]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [84]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-03-02 23:29:23--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.206.168, 54.231.171.216, 54.231.226.32, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.206.168|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.1'

     0K .......... ..                                         100% 2,10M=0,006s

2023-03-02 23:29:23 (2,10 MB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

In [90]:

df_zones = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [91]:
df_result = df_join.join(df_zones, df_join.PULocationID == df_zones.LocationID)

In [95]:
df_result.drop('LocationID', 'PULocationID').write.parquet('tmp/revenue-zones', mode="overwrite")

In [97]:
from pyspark.sql.functions import broadcast

df_result = df_join.join(broadcast(df_zones), df_join.PULocationID == df_zones.LocationID)
df_result.drop('LocationID', 'PULocationID').write.parquet('tmp/revenue-zones', mode="overwrite")