In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pyarrow
import os


engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [9]:
df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet")

In [13]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [26]:
schema = pd.io.sql.get_schema(df, name="yellow_taxi_data")
print(schema)

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [35]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

100

In [ ]:
from time import time

while True:
    t_start = time()

    df = next(df_iter)

    df["tpep_pickup_datetime"] = pd.to_datetime(df.tpep_pickup_datetime)
    df["tpep_dropoff_datetime"] = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    t_end = time()

    print('Inserted another chunk... took %.3f second(s)' % (t_end - t_start))

Inserted another chunk... took 11.303 second(s)
Inserted another chunk... took 11.232 second(s)
Inserted another chunk... took 10.998 second(s)
Inserted another chunk... took 11.262 second(s)
Inserted another chunk... took 11.413 second(s)

In [18]:
url = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

df_zones = pd.read_csv(url)
df_zones.to_sql(name='zones', con=engine, if_exists='replace') # zones is a new table

265

In [3]:
# df_zones = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv")
df_zones = pd.read_csv(".\Exercises\green_tripdata_2019-01.csv")
df_zones.to_sql(name='green_taxi_trips', con=engine, if_exists='replace') # zones is a new table

918